<h1>Your Cart</h1>

<% if @cart.empty? %>
    <p>Your cart is currently empty</p>
<% else %>
    <%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>
<br/><br/><br/>

<% total = 0%>
<ul>
  <% @cart.each do |id, price| %>
      <% menuItem = MenuItem.find_by_id(id) %>

      <li>
        <%= link_to menuItem.name, menuItem %>
        <p><%= number_to_currency(menuItem.price, :unit => '$') %></p>
      </li>
      <% total += menuItem.price %>
  <% end %>
  <% total += 20%>
  <%= render partial: 'charges/new', locals: {amount: total} %>
  
</ul>
