<div class="w3-container w3-padding-large w3-card-4 transparent">
<div>
  <div class="col-lg-12">
    <h1 class="page-header" align="center"><strong>About Us</strong></h1>
  </div>
</div>

<div>
  <div class="col-lg-12">
    <h2 class="page-header" align="center"><strong>Our Team</strong></h2>
  </div>
  <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
    <%= image_tag("rsz_firmin.jpg", :alt => "", :class=> "img-circle img-responsive img-center") %>
    <h3>Firmin Saint-Amour<br/>
      <small>Scrum Master/Developer</small>
    </h3>
    <p>Likes long walks on the beach almost as much as he likes Ruby on Rails.</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
    <%= image_tag("rsz_fima.jpg", :alt => "", :class=> "img-circle img-responsive img-center") %>
    <h3>Fima Fayngersh<br/>
      <small>Developer</small>
    </h3>
    <p>Loves skiing (after coding of course).</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
    <%= image_tag("rsz_sam.jpg", :alt => "", :class=> "img-circle img-responsive img-center") %>
    <h3>Samuel Oden<br/>
      <small>Developer</small>
    </h3>
    <p>When he isn't developing software, he spends most of his time at the gym.</p>
  </div>
</div>
</div>