<div class="w3-container w3-padding-large w3-card-4 transparent">
  <div>
    <div class="col-lg-12">
      <h1 class="page-header" align="center"><strong>Contact Us
      </strong></h1>
    </div>
  </div>

  <div>

    <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
      <h3><b>Location:</b></h3>
      <p>Yumm! Corp.<br/>111 Something Dr.<br/>Towson, Maryland<br/>21286</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
      <h3><b>Phone:</b></h3>
      <p>111.222.3333</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
      <h3><b>Email:</b></h3>
      <p>goodEats@ymcp.com</p>
    </div>
  </div>
</div>
