<div class="w3-container w3-padding-large w3-card-4 transparent">
  <div>
    <div class="col-lg-12">
      <h1 class="page-header" align="center"><strong>FAQs
      </strong></h1>
    </div>
  </div>

  <div>
    <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
      <p><b>What if I order something and it takes longer than the projected time?</b></p>
      <p>Contact us and we'll see what we can do!</p>
    </div>
    <br/>
    <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">

      <p><b>What if I order something and later on I want to cancel my order?</b></p>
      <p>Call the restaurant from which you ordered ASAP! If the order is already in progress, it may be too late! </p>
    </div>
    <br/>
    <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 50px">
      <p><b>Is there an additional cost to using your service?</b></p>
      <p>Nope!</p>
    </div>
    <br/>
  </div>

  <div class="row" style="background-color:lightgrey;">

  </div>
</div>